.floating-window .title-background {
	background-color: grey;
}

.floating-window .title-label {
	color: black;
}

.floating-window.focused .title-background {
	background-color: blue;
}

.floating-window.focused .title-label {
	color: white;
	font-weight: bold;
}
