[Desktop Entry]
Name=Bibledit-Desktop
Comment=Bible Editor
Icon=bibledit-desktop.xpm
Exec=bibledit-desktop %F
Type=Application
Categories=Office;
StartupNotify=true
NoDisplay=false

Name=bibledit-desktop.desktop
