[Desktop Entry]
Name=Bibledit-Desktop
Comment=Bible Editor
Icon=bibledit-desktop
Exec=bibledit-desktop
Type=Application
Categories=Office;
StartupNotify=true
NoDisplay=false

